TecGroupSisVentasFrondEnd2021/Connected Services/ServicioPedidos/PedidoRestServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PedidoRestServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55159/PedidoRestServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55159/PedidoRestServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55159/PedidoRestServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TecGroup.Dominio.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPedidoRestServicio_ObtenerporId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerporId" />
  </wsdl:message>
  <wsdl:message name="IPedidoRestServicio_ObtenerporId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerporIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoRestServicio_Listado_InputMessage">
    <wsdl:part name="parameters" element="tns:Listado" />
  </wsdl:message>
  <wsdl:message name="IPedidoRestServicio_Listado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoRestServicio_ListadoPorCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoPorCliente" />
  </wsdl:message>
  <wsdl:message name="IPedidoRestServicio_ListadoPorCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoPorClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoRestServicio_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IPedidoRestServicio_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoRestServicio_Anular_InputMessage">
    <wsdl:part name="parameters" element="tns:Anular" />
  </wsdl:message>
  <wsdl:message name="IPedidoRestServicio_Anular_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnularResponse" />
  </wsdl:message>
  <wsdl:portType name="IPedidoRestServicio">
    <wsdl:operation name="ObtenerporId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoRestServicio/ObtenerporId" message="tns:IPedidoRestServicio_ObtenerporId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoRestServicio/ObtenerporIdResponse" message="tns:IPedidoRestServicio_ObtenerporId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listado">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoRestServicio/Listado" message="tns:IPedidoRestServicio_Listado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoRestServicio/ListadoResponse" message="tns:IPedidoRestServicio_Listado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListadoPorCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoRestServicio/ListadoPorCliente" message="tns:IPedidoRestServicio_ListadoPorCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoRestServicio/ListadoPorClienteResponse" message="tns:IPedidoRestServicio_ListadoPorCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoRestServicio/Insertar" message="tns:IPedidoRestServicio_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoRestServicio/InsertarResponse" message="tns:IPedidoRestServicio_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Anular">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoRestServicio/Anular" message="tns:IPedidoRestServicio_Anular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoRestServicio/AnularResponse" message="tns:IPedidoRestServicio_Anular_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPedidoRestServicio" type="tns:IPedidoRestServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerporId">
      <soap:operation soapAction="http://tempuri.org/IPedidoRestServicio/ObtenerporId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listado">
      <soap:operation soapAction="http://tempuri.org/IPedidoRestServicio/Listado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoPorCliente">
      <soap:operation soapAction="http://tempuri.org/IPedidoRestServicio/ListadoPorCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IPedidoRestServicio/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Anular">
      <soap:operation soapAction="http://tempuri.org/IPedidoRestServicio/Anular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PedidoRestServicio">
    <wsdl:port name="BasicHttpBinding_IPedidoRestServicio" binding="tns:BasicHttpBinding_IPedidoRestServicio">
      <soap:address location="http://localhost:55159/PedidoRestServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>