TecGroupSisVentasFrondEnd2021/Connected Services/ServicioPedidos/PedidoRestServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55159/PedidoRestServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TecGroup.Dominio.Entidades" />
  <xs:element name="ObtenerporId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerporIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TecGroup.Dominio.Entidades" minOccurs="0" name="ObtenerporIdResult" nillable="true" type="q1:PedidoCabecera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TecGroup.Dominio.Entidades" minOccurs="0" name="ListadoResult" nillable="true" type="q2:ArrayOfPedidoCabecera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoPorCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoPorClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TecGroup.Dominio.Entidades" minOccurs="0" name="ListadoPorClienteResult" nillable="true" type="q3:ArrayOfPedidoCabecera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TecGroup.Dominio.Entidades" minOccurs="0" name="pedido" nillable="true" type="q4:PedidoCabecera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Anular">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnularResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>