TecGroupSisVentasFrondEnd2021/Connected Services/ServicioPedidos/PedidoRestServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TecGroup.Dominio.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TecGroup.Dominio.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PedidoCabecera">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descuentos" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPedido" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IGV" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdCupon" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdPedidoCab" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="MonEnvio" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SubTotal2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalmasEnvio" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="detalle" nillable="true" type="tns:ArrayOfPedidoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoCabecera" nillable="true" type="tns:PedidoCabecera" />
  <xs:complexType name="ArrayOfPedidoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoDetalle" nillable="true" type="tns:PedidoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoDetalle" nillable="true" type="tns:ArrayOfPedidoDetalle" />
  <xs:complexType name="PedidoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCupon" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdPedidoCab" type="xs:int" />
      <xs:element minOccurs="0" name="IdPedidoDet" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="NombreProd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioDescuento" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioUnidad" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoDetalle" nillable="true" type="tns:PedidoDetalle" />
  <xs:complexType name="ArrayOfPedidoCabecera">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoCabecera" nillable="true" type="tns:PedidoCabecera" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoCabecera" nillable="true" type="tns:ArrayOfPedidoCabecera" />
</xs:schema>